# 3. Manipuler les colonnes

## Manipuler des colonnes
```python
# Renomme les colonnes
df.columns = ['nouv_nom_col_A', 'nouv_nom_col_B']

# Modifie l'ordre des colonnes, permet aussi d'en supprimer
df = df[['nom_colonne_B', 'nom_colonne_A', 'nom_colonne_C']]

# Retourne un dataframe sans la colonne indiquée
df.drop('nom_colonne', axis=1)

# Fonctionne aussi avec une liste
df.drop(['nom_colonne_A', 'nom_colonne_B'] axis=1)
```

## Créer des colonnes
```python
# Crée une colonne avec la valeur donnée pour chaque ligne
df['nouv_colonn'] = valeur

# Remplit la colonne avec les valeurs de la liste, mais il faut qu'il y en ait le même nombre que de lignes
df['nouv_colonn'] = [val_1, val_2, val_3] 

# Concatène les valeurs des deux colonnes dans une nouvelles (si ce sont des caractères)
df['nouv_colonn'] = df['nom_col_A'] + df['nom_col_B']
```

## Modifier le type de donnée d'une colonne
```python
# Retourne le type d'une colonne
df['Creation Date'].dtype

# Modifie le type d'une colonne en date
df['Col_Date'] = dg['Col_Date'].astype(np.datetime64)

# Modifie le type d'une colonne en date
df['Col_Date'] = pd.to_datetime(dg['Col_Date']) 
```

## Dessiner un diagramme en secteurs
```python
# Dessine le diagramme
plt.pie(x=liste_des_valeurs, labels=liste_etiquettes_des_valeurs, autopct='%.1f%%')

# Ajoute un titre au diagramme
plt.title('Titre', fontsize=16)
```

In [1]:
# Importer les bibliothèques essentielles
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Afficher toutes les colonnes
pd.set_option('display.max_columns', None)

In [2]:
# Chargement des données
df = pd.read_csv('Data/items_reduced.csv', dtype=str)

In [9]:
# Affichage des dix premières lignes
df.head(10)

,Barcode,MMS ID,Holdings ID,Permanent Location,Call Number,Material Type,Item Policy,Title
0,HPH000001003,991000787439705520,2235648890005520,BE HEP Appareils,HEPBE,Equipment,"97 Booking / Loan max. 14 days, campus, no copy",Micro stéréo mini-jack : Rode : VideoMicro
1,HPH000001004,991000787439705520,2235648890005520,BE HEP Appareils,HEPBE,Equipment,"97 Booking / Loan max. 14 days, campus, no copy",Micro stéréo mini-jack : Rode : VideoMicro
2,HPH000001005,991000787439705520,2235648890005520,BE HEP Appareils,SALUT,Equipment,"97 Booking / Loan max. 14 days, campus, no copy",Micro stéréo mini-jack : Rode : VideoMicro
3,03138226,991000065799705520,22106499280005520,BE HEP Séries de livres,HEPBE 6 VEND,Book,"54 Booking 56 days / No loan request, loan 28 ...",La disparition de Sam Edward van de Vendel ; t...
4,03138420,991001610643905520,22106459710005520,BE HEP Littérature jeunesse,HEPBE COLO,Book,01 Loan 28 days,Les pêcheurs d'éternité Marie Colot ; illustra...
5,03140943,991001604441405520,22106459620005520,BE HEP Jeux,HEPBE MATH TURI,Game,"04 Loan 28 days, no copy",Turing tumble construis un ordinateur à billes...
6,03140944,991001604441405520,22106459620005520,BE HEP Jeux,HEPBE MATH TURI,Game,"04 Loan 28 days, no copy",Turing tumble construis un ordinateur à billes...
7,03137107,991001610343705520,22106419560005520,BE HEP Fonds documentaire,HEPBE 745.5HAYE,Book,01 Loan 28 days,40 créations avec la nature Fiona Hayes
8,03138415,991001609741405520,22106353530005520,BE HEP Littérature jeunesse,HEPBE BD MAUR,Book,01 Loan 28 days,Eden scénario : Fabrice Colin ; dessin et coul...
9,03138416,991001609741405520,22106353530005520,BE HEP Littérature jeunesse,HEPBE BD MAUR,Book,01 Loan 28 days,Eden scénario : Fabrice Colin ; dessin et coul...

## Réordonner et renommer les colonnes

In [4]:
df.columns

Index(['Barcode', 'MMS ID', 'Holdings ID', 'Permanent Location', 'Call Number',
       'Material Type', 'Item Policy', 'Title'],
      dtype='object')

In [17]:
# Réordonner les colonnes
dg = df[['Title', 'Permanent Location', 'Call Number',
       'Barcode', 'Material Type']].copy()

In [18]:
dg.columns

Index(['Title', 'Permanent Location', 'Call Number', 'Barcode',
       'Material Type'],
      dtype='object')

In [19]:
# Renommer les colonnes
dg.columns = ['Titre', 'Emplacement', 'Cote', 'Code-barres', 'Type de ressource']
dg.head()

,Titre,Emplacement,Cote,Code-barres,Type de ressource
0,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001003,Equipment
1,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001004,Equipment
2,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,SALUT,HPH000001005,Equipment
3,La disparition de Sam Edward van de Vendel ; t...,BE HEP Séries de livres,HEPBE 6 VEND,03138226,Book
4,Les pêcheurs d'éternité Marie Colot ; illustra...,BE HEP Littérature jeunesse,HEPBE COLO,03138420,Book

## Créer une nouvelle colonne

In [20]:
# Créer une nouvelle colonne avec le nombre d'exemplaire, ici 1 vu que chaque ligne représente un exemplaire
dg['Nb exemplaires'] = 1

In [21]:
dg

,Titre,Emplacement,Cote,Code-barres,Type de ressource,Nb exemplaires
0,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001003,Equipment,1
1,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001004,Equipment,1
2,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,SALUT,HPH000001005,Equipment,1
3,La disparition de Sam Edward van de Vendel ; t...,BE HEP Séries de livres,HEPBE 6 VEND,03138226,Book,1
4,Les pêcheurs d'éternité Marie Colot ; illustra...,BE HEP Littérature jeunesse,HEPBE COLO,03138420,Book,1
...,...,...,...,...,...,...
34681,Les compétences à l'école apprentissage et éva...,BE HEP Fonds documentaire,HEPBE 371.26COMP,03113981,Book,1
34682,Comme une petite souris une histoire écrite pa...,BE HEP Périodiques,HEPBE BELL 395,03112065,Book,1
34683,Welcome to Star school une histoire mise en sc...,BE HEP Immersion langues étrangères,HEPBE ANG MORG,03135035,Book,1
34684,Une femme sans amour (Pierre et Jean) ; Les av...,NE HEP DVD,HEPNE BUNUE,1034124356,DVD,1
34685,Presque poèmes écriture poétique Bernard Friot...,BE HEP Fonds documentaire,HEPBE 808.1FRIO,03113332,Kit,1

In [22]:
# Créer une colonne à partir des données d'autres colonnes
# Exemple pour créer une colonne qui concatène la cote et l'emplacement
dg['Emplacement - cote'] = dg['Emplacement']
dg.head()

,Titre,Emplacement,Cote,Code-barres,Type de ressource,Nb exemplaires,Emplacement - cote
0,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001003,Equipment,1,BE HEP Appareils
1,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001004,Equipment,1,BE HEP Appareils
2,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,SALUT,HPH000001005,Equipment,1,BE HEP Appareils
3,La disparition de Sam Edward van de Vendel ; t...,BE HEP Séries de livres,HEPBE 6 VEND,03138226,Book,1,BE HEP Séries de livres
4,Les pêcheurs d'éternité Marie Colot ; illustra...,BE HEP Littérature jeunesse,HEPBE COLO,03138420,Book,1,BE HEP Littérature jeunesse

In [23]:
# Ajout de ' / ' à chaque valeur de la colonne
dg['Emplacement - cote'] = dg['Emplacement - cote'] + ' / '
dg.head()

,Titre,Emplacement,Cote,Code-barres,Type de ressource,Nb exemplaires,Emplacement - cote
0,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001003,Equipment,1,BE HEP Appareils /
1,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001004,Equipment,1,BE HEP Appareils /
2,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,SALUT,HPH000001005,Equipment,1,BE HEP Appareils /
3,La disparition de Sam Edward van de Vendel ; t...,BE HEP Séries de livres,HEPBE 6 VEND,03138226,Book,1,BE HEP Séries de livres /
4,Les pêcheurs d'éternité Marie Colot ; illustra...,BE HEP Littérature jeunesse,HEPBE COLO,03138420,Book,1,BE HEP Littérature jeunesse /

In [24]:
# Ajout de la cote à la fin du champ
dg['Emplacement - cote'] += dg['Cote']
dg.head()

,Titre,Emplacement,Cote,Code-barres,Type de ressource,Nb exemplaires,Emplacement - cote
0,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001003,Equipment,1,BE HEP Appareils / HEPBE
1,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,HEPBE,HPH000001004,Equipment,1,BE HEP Appareils / HEPBE
2,Micro stéréo mini-jack : Rode : VideoMicro,BE HEP Appareils,SALUT,HPH000001005,Equipment,1,BE HEP Appareils / SALUT
3,La disparition de Sam Edward van de Vendel ; t...,BE HEP Séries de livres,HEPBE 6 VEND,03138226,Book,1,BE HEP Séries de livres / HEPBE 6 VEND
4,Les pêcheurs d'éternité Marie Colot ; illustra...,BE HEP Littérature jeunesse,HEPBE COLO,03138420,Book,1,BE HEP Littérature jeunesse / HEPBE COLO

In [ ]:
# Même opération en plus simple
dg['Emplacement / cote'] = dg['Emplacement'] + ' / ' + dg['Cote']
dg.head()

## Suppression d'une colonne

In [ ]:
# La méthode "drop" permet de supprimer des lignes avec axis=0 et des colonnes avec axis=1
dg.drop('Emplacement - cote', axis=1)

In [ ]:
# Cette expression produit le même résultat, mais est moins explicite
dg[['Titre', 'Emplacement', 'Cote', 'Code-barres', 'Type de ressource', 'Emplacement / cote']].copy()

## Modification du type de données
En général, Pandas reconnaît bien les types de données, mais il arrive parfois qu'il soit nécessaire de les définir manuellement.

[https://pbpython.com/pandas_dtypes.html](https://pbpython.com/pandas_dtypes.html)

In [26]:
# Chargement des données
df = pd.read_csv('Data/items.csv', dtype=str)
df.columns

Index(['Type / Creator / Imprint', 'Title', 'Barcode', 'Inventory Number',
       'Receiving Number', 'Library', 'Library Unit', 'Temporary Library',
       'Creation Date', 'Modification Date', 'Process type', 'To Library',
       'Expected Arrival Time', 'At Library', 'At', 'On Hold Expiration Date',
       'Due Date', 'Needed By', 'Until', 'Permanent Location',
       'Temporary Location', 'Call Number', 'Call Number Type',
       'Accession Number', 'Temporary Call Number',
       'Temporary Call Number Type', 'Item call number',
       'Item call number type', 'Status', 'RFID Security Status', 'Due back',
       'Item Policy', 'Temporary Item Policy', 'Material Type', 'Description',
       'Unnamed: 35', 'Orders', 'Requests', 'Peer Reviewed', 'Item ID',
       'Holdings ID', 'MMS ID'],
      dtype='object')

In [27]:
dg = df[['Barcode', 'Material Type', 'Creation Date']].copy()
dg.head()

        Barcode Material Type        Creation Date
0  HPH000001003     Equipment  2022-02-09 10:43:49
1  HPH000001004     Equipment  2022-02-09 10:55:57
2  HPH000001005     Equipment  2022-02-09 10:57:39
3      03138226          Book  2022-02-11 10:52:02
4      03138420          Book  2022-02-08 11:53:57

In [28]:
# Le plus souvent le type 'O' signiifie en fait chaîne de caractères
dg['Creation Date'].dtype

dtype('O')

In [29]:
# dg['Creation Date'] = dg['Creation Date'].astype(np.datetime64)
dg['Creation Date'] = pd.to_datetime(dg['Creation Date'])
dg['Creation Date'].dtype

dtype('<M8[ns]')

In [ ]:
# Création d'une colonne avec l'année de création
dg['Creation year'] = dg['Creation Date'].dt.year
dg.head()

In [ ]:
# Sélection des exemplaires créés en 2021 uniquement
dh = dg.loc[dg['Creation Date'].dt.year==2021].copy()
dh.head()

In [ ]:
# Nombre de nouvelles acquisitions par type de matériel en 2021
dh['Material Type'].value_counts()

In [ ]:
# Définit une figure ainsi que sa taille
fig = plt.figure(figsize=(10, 6))
ax = sns.countplot(x=dh['Material Type'])

# Modifie l'orientation des étiquettes et ajuste l'alignement
plt.xticks(rotation=45, ha='right')

_ = plt.title('New items in 2021 by material type', pad=20, fontsize=16)

In [ ]:
# Récupère en tant que série le décompte des valeurs
d_material_type = dh['Material Type'].value_counts()
print('Nb total: ', d_material_type.sum())
d_material_type

In [ ]:
# Pour visualiser les données, les types trop rares ne sont pas pertinents et doivent être regroupés sous "Other"
d_material_type_summary = d_material_type.iloc[:5].copy()
d_material_type_summary['Other'] +=  d_material_type.iloc[5:].sum()
print('Nb total: ', d_material_type_summary.sum())
d_material_type_summary

# => Le nombre total est identique

In [ ]:
# Création du diagramme en secteurs
fig = plt.figure(figsize=(8, 5))
plt.pie(x=d_material_type_summary, labels=d_material_type_summary.index, autopct='%.1f%%')
_ = plt.title('New items in 2021 by material type', fontsize=16)