## Exercice 3a
## Modifier des colonnes
Traduire, modifier l'ordre des colonnes, en supprimer sont des opérations courantes dans Pandas et pas toujours très instinctives.

### Consigne
Le fichier `Data/items_reduced.csv` contient les exemplaires de la Médiathèque de Bienne (Sandbox Alma SLSP).

Créer un fichier `Resultat/items_loanable.csv` avec le titre et la cote. Les étiquettes des colonnes doivent être traduites

**Exercie plus avancé:** 
* Ajouter la description des exemplaires depuis `Data/items.csv`
* Combien d'exemplaires comportent une description?

In [2]:
# Importer les bibliothèques requises
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Chargement des données
df = pd.read_csv('Data/items_reduced.csv')

In [4]:
df.columns

Index(['Barcode', 'MMS ID', 'Holdings ID', 'Permanent Location', 'Call Number',
       'Material Type', 'Item Policy', 'Title'],
      dtype='object')

In [5]:
# Sélection des deux colonnes
dg = df[['Title', 'Call Number']].copy()

In [7]:
# Traduction en français
dg.columns = ['Titre', 'Cote']
dg.head()

                                               Titre          Cote
0         Micro stéréo mini-jack : Rode : VideoMicro         HEPBE
1         Micro stéréo mini-jack : Rode : VideoMicro         HEPBE
2         Micro stéréo mini-jack : Rode : VideoMicro         HEPBE
3  La disparition de Sam Edward van de Vendel ; t...  HEPBE 6 VEND
4  Les pêcheurs d'éternité Marie Colot ; illustra...    HEPBE COLO

### Exercices avancés

In [23]:
# Chargement des données
dh = pd.read_csv('Data/items.csv')

In [24]:
# Copie la colonne. L'ordre se fera en fonction de l'index commun au deux sources
dg['Description'] = dh['Description']

In [27]:
# Compte le nombre de valeurs disponibles
dg['Description'].count()

7221

In [28]:
dg.head()

,Titre,Cote,Description
0,Micro stéréo mini-jack : Rode : VideoMicro,HEPBE,NaN
1,Micro stéréo mini-jack : Rode : VideoMicro,HEPBE,NaN
2,Micro stéréo mini-jack : Rode : VideoMicro,HEPBE,NaN
3,La disparition de Sam Edward van de Vendel ; t...,HEPBE 6 VEND,1 exemplaire BE
4,Les pêcheurs d'éternité Marie Colot ; illustra...,HEPBE COLO,NaN