## Exercice 4a
## Gérer les doublons
Un problème facilement gérable avec Pandas et drop_duplicates.

### Consigne
Le fichier `Data/item_reduced.csv` contient les titres de l'IZ HPH (Sandbox Alma SLSP).

* Etablir une liste de tous les titres uniques avec leur emplacement. Un titre peut se trouver plusieurs fois dans la liste si c'est dans des emplacements différents

**Exrecice avancé:** déterminer le nombre de titre présent dans plusieurs emplacements

In [22]:
# Importer les bibliothèques requises
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
# Chargement des données
df = pd.read_csv('Data/items_reduced.csv')

In [24]:
df.columns

Index(['Barcode', 'MMS ID', 'Holdings ID', 'Permanent Location', 'Call Number',
       'Material Type', 'Item Policy', 'Title'],
      dtype='object')

In [25]:
df.head()

,Barcode,MMS ID,Holdings ID,Permanent Location,Call Number,Material Type,Item Policy,Title
0,HPH000001003,991000787439705520,2235648890005520,BE HEP Appareils,HEPBE,Equipment,"97 Booking / Loan max. 14 days, campus, no copy",Micro stéréo mini-jack : Rode : VideoMicro
1,HPH000001004,991000787439705520,2235648890005520,BE HEP Appareils,HEPBE,Equipment,"97 Booking / Loan max. 14 days, campus, no copy",Micro stéréo mini-jack : Rode : VideoMicro
2,HPH000001005,991000787439705520,2235648890005520,BE HEP Appareils,HEPBE,Equipment,"97 Booking / Loan max. 14 days, campus, no copy",Micro stéréo mini-jack : Rode : VideoMicro
3,03138226,991000065799705520,22106499280005520,BE HEP Séries de livres,HEPBE 6 VEND,Book,"54 Booking 56 days / No loan request, loan 28 ...",La disparition de Sam Edward van de Vendel ; t...
4,03138420,991001610643905520,22106459710005520,BE HEP Littérature jeunesse,HEPBE COLO,Book,01 Loan 28 days,Les pêcheurs d'éternité Marie Colot ; illustra...

### Création de la liste de titres

In [26]:
# Pour être considéré comme un doublon, il faut que deux colonnes soient identiques
dg = df.drop_duplicates(subset=['MMS ID', 'Permanent Location']).copy()

# Différence si on ne tient pas compte des localisations
dh = df.drop_duplicates(subset=['MMS ID']).copy()

In [27]:
print('Longueur originale: ', len(df))
print('Longueur sans doublons (MMS ID et localisations): ', len(dg))
print('Longueur sans doublons (MMS ID uniquement): ', len(dh))

Longueur originale:  34686
Longueur sans doublons (MMS ID et localisations):  28001
Longueur sans doublons (MMS ID uniquement):  27862

In [28]:
# Creer la liste de titre
d_title = dg[['MMS ID', 'Permanent Location', 'Title']]
d_title.head()

,MMS ID,Permanent Location,Title
0,991000787439705520,BE HEP Appareils,Micro stéréo mini-jack : Rode : VideoMicro
3,991000065799705520,BE HEP Séries de livres,La disparition de Sam Edward van de Vendel ; t...
4,991001610643905520,BE HEP Littérature jeunesse,Les pêcheurs d'éternité Marie Colot ; illustra...
5,991001604441405520,BE HEP Jeux,Turing tumble construis un ordinateur à billes...
7,991001610343705520,BE HEP Fonds documentaire,40 créations avec la nature Fiona Hayes

In [29]:
d_title.to_excel('Resultat/title_with_loc.xlsx', index=False)

### Exercice avancé: nombre de titres doublons

In [30]:
# Afficher en tant que liste permet de voir toutes les occurrences
nb_titres_avec_doublon = d_title.duplicated(subset='MMS ID', keep='first').sum()
nb_titres_uniques = d_title['MMS ID'].nunique()

print(f'Nb titres présents dans plusieurs emplacements: {nb_titres_avec_doublon} / {nb_titres_uniques}')

Nb titres présents dans plusieurs emplacements: 139 / 27862