# Exercice 5
## Grouper des données
### Consigne
Le fichier `Data/item_reduced.csv` contient les titres de l'IZ HPH (Sandbox Alma SLSP).

* Etablir une liste des cotes avec le nombre d'exemplaires (les cotes doivent être classées alphabétiquement)

**Exrecice avancé:** ajouter l'année de la création de l'exemplaire le plus récent.

In [1]:
# Importer les bibliothèques requises
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Chargement des données
df = pd.read_csv('Data/items.csv')
df = df[['Permanent Location', 'Call Number', 'Barcode',
       'Material Type', 'Item Policy', 'Title', 'Creation Date']]

/home/rr/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (11,12,13,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.columns

Index(['Permanent Location', 'Call Number', 'Barcode', 'Material Type',
       'Item Policy', 'Title', 'Creation Date'],
      dtype='object')

In [4]:
df.head()

,Permanent Location,Call Number,Barcode,Material Type,Item Policy,Title,Creation Date
0,BE HEP Appareils,HEPBE,HPH000001003,Equipment,"97 Booking / Loan max. 14 days, campus, no copy",Micro stéréo mini-jack : Rode : VideoMicro,2022-02-09 10:43:49
1,BE HEP Appareils,HEPBE,HPH000001004,Equipment,"97 Booking / Loan max. 14 days, campus, no copy",Micro stéréo mini-jack : Rode : VideoMicro,2022-02-09 10:55:57
2,BE HEP Appareils,HEPBE,HPH000001005,Equipment,"97 Booking / Loan max. 14 days, campus, no copy",Micro stéréo mini-jack : Rode : VideoMicro,2022-02-09 10:57:39
3,BE HEP Séries de livres,HEPBE 6 VEND,03138226,Book,"54 Booking 56 days / No loan request, loan 28 ...",La disparition de Sam Edward van de Vendel ; t...,2022-02-11 10:52:02
4,BE HEP Littérature jeunesse,HEPBE COLO,03138420,Book,01 Loan 28 days,Les pêcheurs d'éternité Marie Colot ; illustra...,2022-02-08 11:53:57

### Grouper par cote

In [5]:
# Grouper par cote
dg = df[['Call Number', 'Barcode']].groupby('Call Number').count()
dg

                             Barcode
Call Number
-                               6261
393QUAND                           1
BUREAU FORMATION CONTINUE          2
BUREAU FORMATION SECONDAIRE        2
BUREAU RECHERCHE                   2
...                              ...
HEPNE WAPITI                       1
HEPNE WINOC                        1
HEPNE XIAOS                        1
HEPNE ZGLIN                        1
IRDP 36731/pér                     1

[16399 rows x 1 columns]

In [6]:
dg = dg.sort_index() # Pour s'assurer que l'index est dans le bon ordre
dg.to_excel('Resultat/Exemplaires_par_cote.xlsx')

### Exercice avancé: ajouter l'année du dernier exemplaire

In [7]:
dg = df[['Call Number', 'Barcode', 'Creation Date']].groupby('Call Number').agg({'Barcode': 'count', 'Creation Date': 'max'})
dg.head()

                             Barcode        Creation Date
Call Number
-                               6261  2021-06-08 11:27:40
393QUAND                           1  2020-11-18 01:00:00
BUREAU FORMATION CONTINUE          2  2020-11-18 01:00:00
BUREAU FORMATION SECONDAIRE        2  2020-11-18 01:00:00
BUREAU RECHERCHE                   2  2020-11-18 01:00:00

In [8]:
dg['Newest item Creation Year'] = pd.to_datetime(dg['Creation Date']).dt.year
dg = dg.drop('Creation Date', axis=1)
dg.head()

                             Barcode  Newest item Creation Year
Call Number
-                               6261                       2021
393QUAND                           1                       2020
BUREAU FORMATION CONTINUE          2                       2020
BUREAU FORMATION SECONDAIRE        2                       2020
BUREAU RECHERCHE                   2                       2020